

<div class="container" class='main-body'>
  <div class="container" class='main-body'>   

   <form name="addProjectForm">
    <div class="form-group project-form">
      <label for="name" class="col-sm-2 control-label">Project Name</label>
      <div class="col-sm-10">
        <input name="title" ng-model="title" type="text" class="form-control" required/>
      </div>
    </div>
    <br>
    <div class="form-group project-form">
      <label for="city" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea name="description" ng-model="description" type="text" class="form-control"/></textarea>
      </div>
    </div>
    <br>
    <div class="form-group project-form">
      <label for="state" class="col-sm-2 control-label">Repo</label>
      <div class="col-sm-10">
        <input name="repo" type="url" ng-model="githubRepo" class="form-control" value="https://www.github.com/" required/>
      </div>
    </div>
    <br>
    <div class="form-group project-form">
      <label for="address" class="col-sm-2 control-label">Website (if live)</label>
      <div class="col-sm-10">
         <input name="website" ng-model="website" type="url" class="form-control" />
      </div>
    </div>

    <div class="col-sm-offset-2 col-sm-10 submit">
      <button ng-click="addNewProject()" type="submit" class="btn btn-primary btn-lg">Add Project</button>
    </div>
  
  </form>   

</div>
</div>  