<div id="ideajumbo" class="jumbotron jumbo-header">
      <div id=titleAndDescription>
      <h2 id="ideaJumboHead" class='jumbo-heading'>Student Github Stats <medium> Always Be Committing</medium></h2>
      </div>
      <div id="voting">
      </div>
    </div>

<button ng-click="getStudentStats()">Get Stats</button>

<!-- <text ng-repeat="student in studentStats">
{{student.student}}'s stats are {{student.stats}}
</text> -->


<div id="myDiv" style="width: 700px; height: 500px;"><!-- Plotly chart will be drawn inside this DIV --></div>
