    <div class="scroll-heading">
      <span class='section-name'>Projects</span>
      <span class="section-scroll">
      <span class='glyphicon glyphicon-triangle-left'></span>
      <span class='glyphicon glyphicon-triangle-right'></span>
      </span>
    </div>


    <div class="side-list-project">
     <div class="row">
    <!-- <div class=""> -->
      <div class="thumbnail" ng-repeat="project in projects"> <!-- GIVE THIS  A MAX SIZE /github-octocat.png" /webimg/{{project.urlTitle}}_img.png -->
        <img id="project_img" class="img-responsive" src="/github-octocat.png">
        <div class="caption"> <!-- GIVE THIS  A MAX SIZE -->
          <text id="thumb-project-name">{{project.title}}</text><br>
          <text id="thumb-project-user">By {{project.userName}}</text>
          <p>{{project.description}}</p>
          <p><a href="{{project.repo}}" class="btn btn-primary details-button" role="button">Repo</a> 
          <button class="btn btn-default upVoteButton" ng-click="add(project,'Project')" data-type="project" data-name="{{project.title}}">{{project.upVotes}} <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></button>
          <a class="btn btn-primary user-pic" data-image="{{project.imgPath}}" data-user="{{project.githubName}}" data-title="{{project.userName}}" data-placement="top" role="button" title="{{project.userName}}" data-toggle="popover" data-trigger="click" data-content='<div class="popOverBox"><img src="{{project.imgPath}}" /></div>'><img src="{{project.imgPath}}"></a></p>
        </div>
      </div>