{% extends "layout.html" %}

{% block content %}



  <form method="POST" action="/addidea">
    <div class="form-group project-form">
      <label for="name" class="col-sm-2 control-label">Idea Name</label>
      <div class="col-sm-10">
        <input name="name" type="text" class="form-control" required/>
      </div>
    </div>
    <br>
    <div class="form-group project-form">
      <label for="city" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea name="description" type="text" class="form-control"/></textarea>
      </div>
    </div>
    <br>
    <div class="col-sm-offset-2 col-sm-10 submit">
      <button type="submit" class="btn btn-primary btn-lg">Add Idea</button>
    </div>
  
  </form>


{% endblock %}
