{% extends "layout.html" %}

{% block content %}


<div class="container" id='main-body'>
  <div class="container" id='main-body'>   

    <div class="jumbotron jumbo-header">
      <h1 id='jumbo-heading'>1601 Side Hunt</h1>
      <p>A compilation of 1601's side projects. Check out all the great work and support your mates.</p>
    </div>

    <div class="scroll-heading">
      <span class='section-name'>Projects</span>
      <span class="section-scroll">
      <span class='glyphicon glyphicon-triangle-left'></span>
      <span class='glyphicon glyphicon-triangle-right'></span>
      </span>
    </div>
    
    <div class="side-list-project">
     <div class="row">
  {% for project in projects %}
    <!-- <div class=""> -->
      <div class="thumbnail"> <!-- GIVE THIS  A MAX SIZE /github-octocat.png" /webimg/{{project.urlTitle}}_img.png -->
        <img id="project_img" class="img-responsive" src="/github-octocat.png">
        <div class="caption"> <!-- GIVE THIS  A MAX SIZE -->
          <text id="thumb-project-name">{{project.title}}</text><br>
          <text id="thumb-project-user">By {{project.userName}}</text>
          <p>{{project.description}}</p>
          <p><a href="{{project.repo}}" class="btn btn-primary details-button" role="button">Repo</a> 
          <a class="btn btn-default upVoteButton" data-type="project" data-name="{{project.title}}">{{project.upVotes}} <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
          <a class="btn btn-primary user-pic" data-image="{{project.imgPath}}" data-user="{{project.githubName}}" data-title="{{project.userName}}" data-placement="top" role="button" title="{{project.userName}}" data-toggle="popover" data-trigger="click" data-content='<div class="popOverBox"><img src="{{project.imgPath}}" /></div>'><img src="{{project.imgPath}}"></a></p>
        </div>
      </div>

      <!-- <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a> -->
    <!-- </div> -->
  {% endfor %}
      </div>
    </div>

<div class="scroll-heading">
  <span class='section-name'>Ideas</span>
  <span class="section-scroll-idea">
    <span class='glyphicon glyphicon-triangle-left'></span>
    <span class='glyphicon glyphicon-triangle-right'></span>
  </span> 
</div>

<div class="side-list-idea">
<div class="row">
{% for idea in ideas %}
  <!-- <div class="col-sm-6 col-lg-3"> -->
    <div class="thumbnail">
      <img id="project_img" class="img-responsive" src="/github-octocat.png" alt="...">
      <div class="caption">
        <text id="thumb-project-name">{{idea.title}}</text><br>
        <text id="thumb-project-user">By {{idea.user.firstName}} {{idea.user.lastName}}</text>
        <p>{{idea.description}}</p>
        <p><a href="{{project.route}}" class="btn btn-primary details-button" role="button">Details</a> 
        <a class="btn btn-default upVoteButton" data-type="idea" data-name="{{idea.title}}">{{idea.upVotes}} <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
       <!--  <a href="" class="btn btn-primary details-button" role="button">{{Details}}</a> --></p>
      </div>
    </div>
  <!-- </div> -->
{% endfor %}
</div>
</div>
<div>

</div>
</div>
</div>  


{% endblock %}

{% block script %}

  <script>$(function() {
    $('#home-nav').toggleClass('active')
  })
  </script>

{% endblock %}
