{% extends "layout.html" %}

{% block content %}


<div class="container">
  <div class="container">   

<div class="jumbotron jumbo-header">
  <h1>1601 Side Hunt!</h1>
  <p>A compilation of 1601's side projects. Check out all the great work and support your mates.</p>
</div>


<div id="projects">
<div class="row">
  {% for project in projects %}
    <!-- <div class=""> -->
      <div class="thumbnail"> <!-- GIVE THIS  A MAX SIZE -->
        <img id="project_img" class="img-responsive" src="/placeholder.jpg" alt="...">
        <div class="caption"> <!-- GIVE THIS  A MAX SIZE -->
          <text id="thumb-project-name">{{project.name}}</text>
          <text id="thumb-project-user">By {{project.user.firstName}} {{project.user.lastName}}</text>
          <p>{{project.description}}</p>
          <p><a href="{{project.route}}" class="btn btn-primary" role="button">Details</a> 
          <a href="#" class="btn btn-default" role="button">{{project.upVotes}} <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a></p>
        </div>
      </div>
    <!-- </div> -->
  {% endfor %}
  </div>
</div>

<!-- <div id="ideas">
<div class="row">
{% for idea in ideas %}
  <div class="col-sm-6 col-lg-3">
    <div class="thumbnail">
      <img id="project_img" class="img-responsive" src="/placeholder.jpg" alt="...">
      <div class="caption">
        <text id="thumb-project-name">{{idea.name}}</text>
        <text id="thumb-project-user">By {{idea.user.firstName}} {{idea.user.lastName}}</text>
        <p>{{idea.description}}</p>
        <p><a href="{{project.route}}" class="btn btn-primary" role="button">Details</a> 
        <a href="#" class="btn btn-default" role="button">{{idea.upVotes}} <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
</div>
</div>   -->


{% endblock %}
