*  {
  box-sizing: border-box;
}

body {
  padding: 0px;
}

#main-body {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

#project_img {
  width: 100%;
  height: auto;
}

#thumb-project-name {
  font-weigth: bold;
  font-size: 18px;
}

#thumb-project-user {
  font-weight: bold; 
  font-size: 16px; 
}

.project-form input, .project-form textarea, .project-form label{
  margin: 10px;
}

.submit {
  margin-left: 0px;
}


.row {
  display: flex;
}

.side-list {
  overflow-x: auto;
  overflow-y: hidden;
  height: 375px;
}

.thumbnail {
  width: 220px;
  display: inline-block;
  margin: 5px;
  flex-basis: auto;
  flex-direction: column;
  flex-grow:0;
  flex-shrink:0;
}

.caption {
  height: 150px;
  p  {
    height: 60px;
  }
}

::-webkit-scrollbar { 
    display: none; 
}
