body {
  padding: 60px;
}


#project_img {
  width: 100%;
  height: auto;
}

#thumb-project-name {
  font-weigth: bold;
  font-size: 18px;
}

#thumb-project-user {
  font-weight: bold; 
  font-size: 16px; 
}

.project-form input, .project-form textarea, .project-form label{
  margin: 10px;
}

.submit {
  margin-left: 0px;
}