*  {
  box-sizing: border-box;
}

body {
  padding: 0px;
}

#dateC {
  width: 200px;
}

.main-body {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

#project_img {
  width: 90%;
  height: auto;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

#thumb-project-name, #thumb-idea-name {
  font-weight: bold;
  font-size: 18px;
}

#thumb-project-user, #thumb-idea-user {
  
  font-size: 16px; 
}

.project-form input, .project-form textarea, .project-form label{
  margin: 10px;
}

.submit {
  margin-left: 0px;
}


.row {
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
}

.side-list-idea, .side-list-project {
  overflow-x: auto;
  overflow-y: hidden;
  height: 280px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.thumbnail {
  width: 280px;
  display: inline-block;
  margin: 5px;
  flex-basis: auto;
  flex-direction: column;
  flex-grow:0;
  flex-shrink:0;
}

.caption {
  height: 135px;
  p  {
    height: 35px;
  }
}

::-webkit-scrollbar { 
    display: none; 
}

form {
  margin-top: 50px;
}

#ideaComment {
  margin-top: 10px;
}

.section-name {
  color: #CE1D25;
  font-size: 20px;
  font-weight: bold;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-transform: uppercase;
  padding: 2px 2px 0px 2px;
}

.jumbotron {
  margin-top: 60px;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #CE1D25;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

#ideajumbo {
  background-color: #a2919d;
  margin-left: 0px;
  padding-left: 0px
}

#ideaPageVote {
  float: right;
}

#ideaJumboHead {

}

.table {
  width: 100%
}

#titleAndDescription {
  width: 70%;
  left: 0px;
  text-align: left;
  display: inline-block;
}

#voting {
  width: 20%;
  right: 0px;
  display: inline-block;
  margin-bottom: 10px
}

.jumbo-heading {
  margin-top: 10px;
  color: white;
}

#search-form:focus {
  width: 300px;
}

.upVoteButton, .upVoteButtonOff {
  padding-left: 8px;
  padding-right: 8px;
}

.upVoteButtonOff {
  border: 1px solid #4e53ff;
  color: #4e53ff;
  &:hover {
  border: 1px solid #4e53ff;
  }
  .glyphicon {
  color: #4e53ff;  
  }
}

.btn-primary {
  background-color: #CE1D25;
  border-color: #CE1D25;
  &:hover {
    background-color: #ab181e;
    border-color: #ab181e;
  };
  &:focus, &:active {
    background-color: #CE1D25;
    border-color: #CE1D25;
  };
}

.user-pic {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0px;
  margin-left: 10px;
  img {
    background-color: white;
    border-radius: 50%
  }
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.active>a {
  color: #CE1D25;
  font-weight: 500;
}

.navbar {
  background-color: white;
}

.section-scroll, .section-scroll-idea {
  float: right;
  border: 1px solid #b7c4c7;
  border-radius: 5px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: #889293;
  span {
    padding-left: 3px;
    padding-right: 3px;
    &:hover {
    color: #494949;
    }
  }
}

.popOverBox img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.scroll-heading {
  margin-bottom: 5px;
}